/* The message box is shown when the user clicks on the password field */
#message, #message2 {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px 20px;
}

#message p, #message2 p {
    padding: 0px 20px;
    font-size: 13px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}