hr {
    border-color: #ddd !important;
}

body.main {
    font-family: Century Gothic, Verdana, sans-serif;
    background-color: #f0f1f3;
    margin: 1%;
}

div.yaml_config, div.note_yaml_config {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
    width: inherit !important;
}

p.true_info {
    font-size: unset !important;
}

div.row_yaml_config {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-bottom: 15px !important;
}

div.row_button_yaml_config {
    margin-left: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 15px !important;
}

div.btn_group_yaml_config {
    display: inline-block;
    vertical-align: unset;
}

div.info_bar {
    right: 1px;
    padding-top: 85px;
    position: fixed;
    z-index: 101;
    margin: 5px;
    max-height: 50%;
}

div.panel-body {
    background-color: #f0f1f3;
}

img.navrbar-img {
    display: block;
    padding-bottom: -10px !important;
    margin-bottom: -15px;
    padding-top: 20px;
}

div.logo {
    background: #6c757e;
    position: relative;
    top: -30px;
    width: 342px;
    left: -31px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}

.logo-text {
    color: #FBFBFB;
    font-family: Calibri;
    font-size: 30px;
    position: relative;
    top: 10px;
    left: -15px;
}

.navrbar-img-right {
    margin-left: auto;
}

.navrbar-img-left {
    margin-right: auto;
}

.navrbar-text {
    position: relative;
    top: 1px;
    display: inline-block;
    letter-spacing: 0.3pt;
    font-size: 12px !important;
    padding: 10px !important;
    font-family: Century Gothic !important;
    color: #ffffff !important;
}

.navrbar-text-label {
    padding-top: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    color: #ffffff !important;
}

.awhite {
    color: #ffffff !important;
    text-decoration: none !important
}

.btn-group-vertical>button {
    margin-bottom: 5px;
}

.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.popover {
    /* height: 30% !important; */
    width: 50% !important;
    max-width: none !important;
    overflow: auto !important;
}

.well_yaml_config {
    width: 50%;
}

.form-inline {
    display: inline !important;
}

.panel-group_find_common_points {
    width: 50% !important;
    margin-bottom: 0px !important;
}

.alert {
    margin-bottom: 0px !important;
    padding: 8px !important;
}

.content {
    padding-top: 90px;
    height: auto;
    color: #353333;
    background-color: #f0f1f3;
}

.footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
}

.glyphicon.glyphicon-flag {
    font-size: 15px;
}

.glyphicon.glyphicon-search {
    font-size: 15px;
}

.glyphicon.glyphicon-arrow-right {
    font-size: 17px;
}

.glyphicon.glyphicon-arrow-left {
    font-size: 17px;
}

.glyphicon-play {
    font-size: 20px;
    color: #f0f1f3 !important;
}

.glyphicon.glyphicon-info-sign, .glyphicon.glyphicon-list-alt, .glyphicon.glyphicon-log-in,
.glyphicon.glyphicon-log-out, .glyphicon.glyphicon-question-sign, .glyphicon-cog {
    font-size: 15px;
}


.popover.bottom > .arrow:after {
    border-top-width: 10px !important;
    border-bottom-color: #ddd !important;
}

.navleft {
    float: left !important;
    text-align: center !important;
}

.navright {
    float: right !important;
    text-align: center !important;
}

.login-form {
    width: 340px !important;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f0f1f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 17px;
    height: 17px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.modal-tool {
    text-align: center;
    padding: 0!important;
  }
  
.modal-tool:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog-tool {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer-alert .add-padding-dashboard {
    padding: 2px !important;
}

.modal-content-alert {
    margin: 100px;
    text-align: center !important;
}

.modal-footer-alert {
    text-align: center !important;
}

.modal-footer-alert button {
    margin-inline: 25px !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #6c757e;
}

.navbar-inverse {
    background-color: #6c757e !important;
    border-color: #6c757e;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar-nav {
    float: none !important;
    margin: 0;
}

.navbar-nav>li {
    float: left;
    top: 25%;
    left: 25%;
    font-size: 24px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: relative;

        height: 100px;

        left: 50%;
        transform: translatex(-50%);
    }


}