<!DOCTYPE html>
<html lang="ru">
    <head>
        {% block head %}
            <title>
                {% block title %}
                    {{ title }}
                {% endblock title %}
            </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="keywords" content="">
            <link rel="shortcut icon"
                  href="/static/css/images/mainIcon.png"
                  type="image/png">
            <link type="text/css" href="/static/css/style.css" rel="stylesheet">
            <link type="text/css"
                  href="/static/css/bootstrap-select.min.css"
                  rel="stylesheet">
            <link rel="stylesheet"
                  href="/static/css/bootstrap-multiselect.css"
                  type="text/css" />
            <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet">
            <script src="/static/javascript/jquery-3.3.1.js"></script>
            <script src="/static/javascript/bootstrap.js"></script>
            <script src="/static/javascript/bootstrap-select.min.js"></script>
        {% endblock head %}
    </head>
    <body class="main"
          data-spy="scroll"
          data-target=".navbar"
          data-offset="300">
        <div class="pull-right" id="rightBar"></div>
        <div class="content">
            {% if page == 'main_panel' %}
                {% block main_panel %}
                {% endblock main_panel %}
            {% endif %}
        </div>
        {% block footer %}
        {% endblock footer %}
    </body>
</html>
